.container {
  display: flex;
  justify-content: center;
  width: 100%;

  .matrix {
    display: grid;
    padding: 10px;
  }

  .item {
    display: block;
    text-align: center;

    border: 1px solid #e3e3e3;
    margin: 2px;

    &.start {
      background-color: #f06292;
    }

    &.end {
      background-color: #1e88e5;
    }

    &.locked {
      background-image: url('bg.png');
      background-size: cover;
    }
  }

  .left {
    padding: 10px;
  }
}
